@use "../font";
@use "./login-box";

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  width: 100%;
  background-image: url("../../public/background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#logo{
  position: absolute;
  left: 27px;
  top: 26px;
}

@media (max-width: 700px) {
  #logo{
    left: 50%;
    transform: translateX(-50%);
  }
}

.review{
  color: white;
  font-weight: 400;
  font-size: 16px;
  font-style: italic;
  line-height: 22px;
  text-align: justify;

  max-width: 400px;
}

footer{
  text-align: center;
  color: rgba(255, 255, 255, 0.25);
  margin-top: 32px;

  background-color: #1E1E1F ;
  padding: 16px;
  width: 100%;
  position: absolute;
  bottom: 0;
  box-sizing: border-box;
  font-style: italic;
}

@media (min-width: 700px){
  footer {
    position: absolute;
    bottom: 16px;
    left: 16px;
    width: auto;
    background: none;
  }

  .content {
    flex-direction: row !important;

    > :first-child {
      margin-right: 5% !important;
    }
  }
}

.content {
  width: 100%;
  height: 100vh;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.input-note {
  font-size: 0.8rem;
  margin-top: -5px;
}