@use "../../colors";

.action-button {
  display: block;
  width: 26px;
  height: 26px;
  border-radius: 3px;

  &::after{
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-color: colors.$button-text;
    -webkit-mask-size: cover;
    mask-size: cover;
    mask: var(--mask-url) no-repeat 50% 50%;
    -webkit-mask: var(--mask-url) no-repeat 50% 50%;
  }
  &:hover::after {
     background-color: colors.$button-text-hover !important;
  }

  &:hover {
    background-color: colors.$button-bg-hover;
  }

  &:focus-visible {
    outline: 2px dashed colors.$secondary-text;
  }
}