.my-target {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  .my-checkbox {
    width: 20px;
  }

  .target-content {
    width: 100%;

    .target-heading {
      * {

      }
    }
  }
}