@use "../goal-card-container/style";

.goal-card {
  padding: 7px;
  display: grid;
  grid-template-rows: 1fr auto;
  align-items: center;

  h2 {
    margin: 32px 20px;
  }

  .menu {
    background-image: url(/public/hamburger.svg);
    position: absolute;
    right: 16px;
    top: 14px;
  }
}
