target-button-container {
  display: flex;
  flex-direction: column;

  div:not(.tts-cont) {
    opacity: 0;
    transition: .1s;

    display: flex;
    gap: 26px;
    justify-content: center;
  }

  &:hover div:not(.tts-cont) {
    opacity: 100%;
    transform: scale(1);
  }

  img{
    transition: .1s;
  }
  img:hover {
    transform: scale(1.1);
    filter: brightness(90%);
  }

  .tts-cont {
    position: absolute;
    z-index: 1000;
    top: 0;
    padding-top: 40px;
    left: 50%;
    transform: translateX(-50%);

    transition: .1s;
    background-color: transparent;
  }

  target-type-selection{
    display: none;
  }


}