.my-checkbox {
  .checkbox-circle {
    display: inline-flex;
    overflow: hidden;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .circle-half {
    height: 40px;
    width: 20px;
    position: relative;
    overflow: hidden;
  }

  .circle-half > div {
    height: inherit;
    width: inherit;
    position: absolute;
    content: "";
    border-radius: 20px 0 0 20px;
    background-color: lime;
    transform-origin: 100% 50%;
    /* hidden by default */
    transform: rotate(180deg);
  }

  .circle-half-right {
    transform: scale(-1, -1);
  }

  .checkbox-circle .circle-half-right > div {
    animation-name: rotate-circle-half--right;
  }

  .checkbox-part {
    width: 20px;
    height: 20px;
    overflow: hidden;
    position: relative;
  }

  .circle-half > div {
    background-color: #669B45 !important;
  }

  .clipped {
    clip-path: inset(2px);
  }
  .clipped .circle-half div {
    background-color: #D0EBBF !important;
  }
  .checkbox-container{
    width: 20px;
    height: 20px;
    position: relative;
    cursor: pointer;
  }

  .checkbox-container > div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .background-checkbox{
    width: 20px;
    height: 20px;
    background-color: #fff;
    z-index: -1;
    outline: 2px solid #C8C8C8;
    outline-offset: -2px;
  }
}