@use "../../font";
@use "../../colors";

.control-input {
  & > * {
    font-family: font.$font;
    font-size: 18px;
    font-weight: 400;
  }

  & > .hidden-span {
    position: absolute; // I'm not messing with the layout
    visibility: hidden; // No one can see me :)
    white-space: nowrap;
  }

  & > input {
    height: 32px;
    color: colors.$secondary-text;

    border: none;
    border-radius: 3px;
    padding: 0;
    margin: 0;
    text-align: center;
    outline: none;
    background-color: colors.$input-unfocused;
  }

  & > input[type=number]::-webkit-outer-spin-button,
  & > input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  & > input[type=number] {
    -moz-appearance: textfield;
  }
}